<% provide(:title,) %>



  
  <div id="content">

   <h1 style= "font-family: bitterbold, 'gill sans', arial, helvetica, sans-serif;color: white;">
    Ireland's Leading Cleaning Company
  </h1>
  
  <div id="mpu"> <%= link_to image_tag('/assets/mpu.png'), goods_path %></div> 
  <h2 style= "font-family: bitterregular, 'gill sans', arial, helvetica, sans-serif;color: white;" >
    Leading the way since 2004
  </h2>
  
  <p style= "font-family: bitterregular, 'gill sans', arial, helvetica, sans-serif;color: white;" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit. in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <p style= "font-family: bitterregular, 'gill sans', arial, helvetica, sans-serif;color: white;">
    If you wish to know more about what we do, please take a look at full break down of our
    <%= link_to "goods & services", goods_path, :class => "nodec"%>, or why not just drop us a mail on our
    <%= link_to "contact page", contact_path  , :class => "nodec"%>
  </p></br>
  
  <p>
  Want to see more? <%= link_to "Click here to register", register_path, :class => "nodec"%> or <%= link_to "login", login_path, :class => "nodec"%> if you are a returning customer.
  </p>
</div>

<!-- <a href="goods_services.html"> <img img border="0" src="/assets/mpu.png" alt="New Products"/></a><