<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="header">
    <div id="logo"><%= link_to image_tag('/assets/logo.png'), root_path %></div>
    <div id= "menu">Menu 
      <%= link_to "Home", root_path%>
      <%= link_to "Goods", goods_path %>
      <%= link_to "Contact", contact_path %>
    </div>
    <div id="welcomeMessage"></div>
  </div>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

  